.container-about {
  background-color: rgb(3, 3, 46);
}

.about {
  width: 100%;

  display: grid;
  grid-template-columns:
    10% [start img-start] 30vw [img-end text-start] minmax(min-content, 1fr)
    [text-end] 10% [end];
  gap: 2rem;

  &__img {
    grid-column: img-start / img-end;
  }

  &__texts {
    grid-column: text-start / text-end;
    display: grid;
    grid-template-rows: repeat(5, min-content);
    justify-content: start;
  }

  &__intro {
    margin-top: 1rem;
  }

  &__list {
    border: 1px solid #fff;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, min-content));
    row-gap: 1rem;
    margin-top: 1rem;
  }

  &__btn {
    justify-self: start;
    margin-top: 2rem;
    background-color: palevioletred;
    color: #000;
    padding: 1rem 3rem;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
  }
}
