$color-primary: black;
$color-secondary: white;
$color-tertiary: gray;

$font-superheading: 4rem;
$font-heading: 2rem;
$font-subheading: 1.5rem;
$font-paragraph: 1.2rem;
$font-subparagraph: 1rem;

$font-color: white;
$font-color-dark: rgb(187, 187, 187);

$margin-small: 2rem;
$margin-medium: 3rem;
$margin-large: 5rem;